@import '../../../assets/styles/theme';
.landing-container {
  width: 100%;
  min-height: 130vh;

  .top-hero-section {
    position: relative;
  }
}

.hero-content {
  width: 100%;
  height: 103vh;
  background-image: url('../../../assets/images/labding-imgs/landing-bg2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $mobile) {
    width: 100vw;
    display: block;
  }
  .hero-slogan {
    align-self: center;
    color: $bg;

    @media screen and (max-width: $mobile) {
      text-align: left;
      padding-top: $padding-L * 7;
    }
  }
}

.card-top-container {
  position: absolute;
  left: 60%;
  top: 34%;
  width: 300px;
  height: 300px;
  box-shadow: 0 8px 6px -8px black;
  text-align: center;
  color: $primary;
  border-radius: 10px;

  @media screen and (max-width: $mobile) {
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
  }
}
.l-volunteer-activities {
  margin-top: 200px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }
  .l-right-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media screen and (max-width: $mobile) {
      align-self: center;
    }
  }
  .l-center-text {
    display: flex;
    font-size: 3em;
    flex-direction: column;
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
  .l-left-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media screen and (max-width: $mobile) {
      align-self: center;
    }
  }
}

.l-organization-hero {
  margin-top: 200px;
  width: 100%;
  height: 103vh;
  background-image: url('../../../assets/images/labding-imgs/landing-second-hero.svg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  @media screen and (max-width: $mobile) {
    width: 100vw;

    h1 {
      height: 200px !important;
      line-height: 200px;
      font-size: 1.5em !important;
    }
  }
  h1 {
    height: 100vh;
    line-height: 100vh;
    color: $bg;
    font-size: 2.5em;
  }
}
.l-org-activity {
  display: flex;
  justify-content: space-evenly;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    .l2-card-news {
      margin-top: 10px;
      align-self: center;
    }
  }
  .l2-card-news {
    margin-top: 200px;
  }
}
.l-stat-cont {
  padding-top: $padding-L * 7;
  display: flex;
  justify-content: space-evenly;

  @media screen and (max-width: $mobile) {
    flex-direction: column;

    * {
      align-self: center;
    }
  }
}

.l-d-app {
  margin-top: $padding-L * 7;
  width: 100%;
  height: 100vh;
  @media screen and (max-width: $mobile) {
    width: 100vw;
  }
  .l-d-title {
    text-align: center;
    p {
      font-size: 1.5em;
      font-weight: lighter;
    }
  }

  .l-d-banner {
    margin: 0 auto;
    width: 90%;
    height: 300px;
    border-radius: 30px;
    background-image: url('../../../assets/images/labding-imgs/banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: $mobile) {
      height: 350px;
      width: 100vw;
      transform: rotate(90deg);
      .l-d-b-title,
      .l-d-b-btn-cont {
        width: 100% !important;
        transform: rotate(-90deg);
        padding: 0 !important;
      }
      .l-d-b-title {
        padding-top: $padding-L * 11 !important;

        p {
          display: none;
        }
      }
    }
    .l-d-b-title {
      padding-left: $padding-L * 2;
      color: $bg !important;
      align-self: center;
      h1 {
      }
      p {
        font-size: 1.5em;
        text-align: center;
        margin: 0 !important;
        opacity: 0.8;
      }
    }
    .l-d-b-btn-cont {
      align-self: center;
      width: 200px;
      height: 60px;
      background-color: #00b478;
      border-color: #00b478;
      color: $bg;
      font-size: 1.5em;
    }
  }
}
