@import '../../../assets/styles/theme';

.request-image-container {
  display: inline-block;
  width: 100%;

  @media (max-width: $mobile) {
    width: 100%;
    min-height: $space;
  }
}

.request-image {
  height: 100px;
  width: 100%;
  background-size: auto;
}

.request-title {
  width: 50%;
}

.requestDeleteButton {
  cursor: pointer;
}
