@import '../../../assets/styles/theme';

.request-image-container {
  display: inline-block;
  width: 100%;

  @media (max-width: $mobile) {
    width: 100%;
    min-height: $space;
  }
}
.request-image {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-size: auto;
}

.request-title {
  width: 50%;
}
