@import "../../../assets/styles/react-slick-slider";
.discovery-container {

}

.discovery-search-box {
  height: 90vh;
  width: 100%;
  background-color: #fefefe;
  position: relative;
}
.discovery-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  .search-box {
    border: 1px solid #6b6b6b;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    span {
      color: #6b6b6b;
    }
  }
}

.result {
  width: 100%;
  margin: 0;
}

.result-news, .result-event, .result-organization {
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

