@import "../../../assets/styles/react-slick-slider";
.discovery-container {

}

.discovery-search-box {
  height: 90vh;
  width: 100%;
  background-color: #fefefe;
  position: relative;
}
.discovery-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  .search-box {
    border: 1px solid #6b6b6b;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    span {
      color: #6b6b6b;
    }
  }
}

.result, .result-news {
  width: 100%;
  background-color: #6b6b6b;

  div:nth-child(1) {
    //width: 90%;
    margin: 0 auto;
    background-color: #fefefe;
    height: auto;
    display: flex;
  }
}

