@import '../../../assets/styles/react-slick-slider';

.events-container {
}

.events-list-container {
  width: 75vw;
  margin: 0 auto;

  @media screen and (max-width: 500px) {
    width: 90vw;
  }
}

.e-slider {
  @media screen and (max-width: 500px) {
    width: 80vw !important;
  }
}
.slider-event-list {
  padding: 0 5px;
}
