@import '../../../assets/styles/theme';

.login-image-drama {
  filter: grayscale(0.75) blur($space / 4) !important;
  transform: scale3d(1.14, 1.14, 1.14) !important;
}

.login-image {
  height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 7s ease-in-out;
  filter: grayscale(1);
  transform: scale3d(1, 1, 1);

  &:hover {
    filter: none;
    transform: scale3d(1.07, 1.07, 1.07);
  }
}

.login-yoga {
  > .gerami-yoga-2 {
    padding: 0;
  }
}

.login-links {
  padding: ($space / 2) 0;
  text-decoration: none;
}
