@import '../../../../assets/styles/theme';

.TotalOrganizations {
  .OrganizationNumbers {
    font-weight: lighter;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
  }
  .primary {
    color: $primary;
  }
}
.OrganizationType {
  border-right: 1px solid #3f51b5;
}
.OrganizationLocation {
  .LocationText {
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
}

.Gov {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #ff8042;
}
.Pri {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #00c49f;
}
.Non {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #0088fe;
}
.Hos {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #ffbb28;
}

.LocationList {
  border-radius: 0;
  padding: 15px;
  border-bottom: 1px solid lightgrey;
}
.LocationListContainer {
  overflow: auto;
  min-height: 200px;
  max-height: 350px;
  padding-right: 10px;
  padding-left: 10px;
}
.Percent {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: white;
  background-color: $primary;
}
.LocationTitle {
  border-bottom: 1px solid $primary;
}
