@import '../../../assets/styles/theme';

.tasks-list-container {
  margin: 0 auto;
}
.col-bar-container {
  width: 100%;
  position: relative;

  .collapse-controller {
    padding: 0 $padding-L 0 $padding-L;
    .bar-before-expand {
      display: flex;
      .header-expand-bar {
        flex: 100%;
        align-self: center;
      }
      .expand-icon {
        z-index: 99;
        align-self: center;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .bar-after-expanded {
    }
  }
}

.task-label {
  padding-left: $padding-S;
}

.vol-task-container {
 /* width: 50%;
  margin: 0 auto;*/
}
