.gerami-product-slider-container {
  position: relative;
  width: 100%;
  margin-left: -15px;
  height: auto;
  //background-color: dodgerblue;

  .product-nav {
    text-align: center;
    position: absolute;
    top: 45%;
    z-index: 99;
    color: white;
    font-size: 2em;
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.6);
    background-color: #3f51b5;
  }
}
.gerami-product-slider-scroll {
  width: inherit;
  height: auto;
  overflow-x: scroll;
  //overflow-y: hidden;
  transition: 5s all;
  scroll-behavior: smooth;
  position: relative;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

.gerami-product-slider-item-box {
  //width: 300%;
  height: inherit;
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 500px) {
    width: 550% !important;
    //width: auto !important;
  }
}

.product-previous-arrow {
}
.product-next-arrow {
  right: 0;
}
