@import "../../../assets/styles/medium-draft-css";
.news-card-add-top-container {
  width: 100%;
  //background-color: mediumspringgreen;
  min-height: calc(100vh - 22vh);
}
.news-card-add-container {
  width: 55%;
  height: auto;
  margin: 0 auto;
}

.news-card-add-title {
}

.myOwnClass {
  //font-size: 50px;
}
