@import '../assets/styles/theme';

.layout-login-header {
  .header-shade-area {
    filter: none;

    .header-block {
      background: transparent !important;

      clip-path: none !important;
      animation: none !important;
    }
  }
}
