@import '../assets/styles/theme';

.layout-login-header {
  .header-shade-area {
    filter: none;

    .header-block {
      background: transparentize($primary, 0.03) !important;
      color: transparentize($bg, 0.14) !important;

      clip-path: none !important;
      animation: none !important;

      * {
        color: inherit !important;
      }
    }
  }
}
