@import '../../../../../assets/styles/theme';

.account-photo {
  margin: auto 0;
  padding: 0;

  $size: $space * 5;
  width: $size;
  max-width: $size;
  min-width: $size;
  height: $size;
  max-height: $size;
  min-height: $size;

  border: 0;
  border-radius: 14%;
  font-size: $space * 2;
  background-color: $accent !important;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: transparentize($bg, 1);

  &:active,
  &:focus,
  &:hover {
    color: $bg;
  }

  .gerami-loading {
    > * {
      display: block;
      margin: auto;
    }
  }

  @media (max-width: $mobile) {
    $size: $space * 3;
    width: $size;
    max-width: $size;
    min-width: $size;
    height: $size;
    max-height: $size;
    min-height: $size;
  }
}
