@import '../../../assets/styles/theme';

// todo: refactor up ???
.small-circle-button {
  margin: auto 0;
  padding: 0;

  $size: $space * 2;
  width: $size;
  max-width: $size;
  min-width: $size;
  height: $size;
  max-height: $size;
  min-height: $size;

  border: 0;
  border-radius: 50%;
  outline: 0;

  background-color: transparentize($fg, 0.945) !important;
  background-image: none !important;
  box-shadow: none !important;
  color: $primary !important;

  &:focus,
  &:hover {
    background-color: $primary !important;
    color: $bg !important;
  }

  &:active {
    background-color: $accent !important;
    color: $bg !important;
  }
}
