.SearchButton {
  &:hover {
    background: none;
    color: black;
  }
  border: none;
  box-shadow: none;
  background: none;
  padding: 0;
  margin: 0;
  color: black;
}
.right-search-input {
  float: right !important;
}
