@import '../../../assets/styles/theme';
.min-sidenav-container {
  position: sticky;
  top: 60px;
  width: 100%;
  height: auto;
  //background-color: darkorange;
  padding: 15px;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.mini-sidenav-links {
  .sid-link {
    padding: $padding-S 0;
    display: flex;
    &:hover {
      background-color: #d6d6d6;
      border-radius: $radius;
      cursor: pointer;
    }

    .icon-link {
      margin-right: 3px;
      width: 100%;
      text-align: center;

      &:hover {
        color: #177be6 !important;
      }
      a {
        text-decoration: none !important;
        -moz-appearance: none;
        all: unset;

        &:active {
          color: $primary;
        }
      }
    }
  }
}

/*
 .discovery {
      &:hover {
        color: #177be6 !important;
      }
    }
    .news {
      &:hover {
        color: $fg !important;
      }
    }

    .event {
     &:hover {
       color: #ffb53a !important;
     }
    }
    .task {
      &:hover {
        color: dodgerblue !important;
      }
    }
    .organization {
     &:hover {
       color: lightcoral !important;
     }
    }*/
