@import '../../../assets/styles/theme';
.news-view-container {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.news-view {
  flex: 80%;
  overflow-y: scroll;
}
#news-view-cont {
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #d1d1d1;
  }

  &::-webkit-scrollbar-track-piece {
    border-radius: $radius * 14;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: $radius * 14;
  }
}

.news-view-stat {
  flex: 20%;
}

.news-view-img {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  height: 300px;
  width: 100%;
}

.news-view-detail-container {
  padding: 34px;
}
.news-view-title {
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.1em;
}

.news-view-description {
  font-family: 'Helvetica Neue', serif;
  color: #666666;
}

.news-view-article {
  font-family: 'Helvetica Neue', serif;
  color: #666666;

  &::first-letter {
    font-size: 230%;
  }
  &:first-letter {
    font-size: 230%;
  }
}

.new-view-action-container {
  width: inherit;
  height: auto;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-around;
  span {
    width: 30%;
    padding: 3px;
    text-align: center;
    transition: 0.5s all;
  }

  .name-view-like-icon {
    color: #f02139;

    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: $primary;
    }
  }
  .news-view-share-icon {
  }
  .news-view-edit-icon {
    text-decoration: none;
    color: #2a2a2a;
    //color: $accent;

    &:hover {
      text-decoration: none;
      color: $primary;
    }
  }

  .name-view-like-list {
    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: $primary;
    }
  }
}
