@import '../../../../../assets/styles/theme';
.UserPic {
  width: 100px;
  height: 100px;
}

.comment-tab-container {
  position: relative;
}

.comment-add-component {
}

.news-comment-add-cont {
  display: flex;

  .btn-add-c {
    height: 50px;
  }
}
.news-comment {
  padding: $padding-S;
}
