@import '../../../assets/styles/theme';
.RemoveButton {
  &:hover {
    color: #ff714a;
    cursor: pointer;
  }
  color: #db623f;
}
.ViewButton {
  &:hover {
    color: #6192ff;
    cursor: pointer;
  }
  color: #537cdb;
}

.Verifier-Table-Header {
  background-color: $primary !important;
}
.Verifier-Table-Header-Cells {
  color: white !important;
}
.Verifier-Image {
  width: 30px;
  border-radius: 50%;
  height: 30px;
}
