@import '../../../assets/styles/theme';
.request-img-container {
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  //background-color: mediumaquamarine;
  display: flex;
  justify-content: center;
  .img-add-placeholder {
    align-self: center;
    padding: $padding-S;
    border-radius: $radius * 5;
    cursor: pointer;
  }
}