.VerifierImage {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
}
.VerifierDescription {
  margin: auto;
  width: 80%;
}
.VerifierDeleteButtonContainer {
  float: right;
  .removeButton {
    background-color: rgba(168, 0, 0, 0.68);
    color: white;
  }
}
