@import '../../../../assets/styles/theme';
.news-list-container {
  width: 70%;

  @media screen and (max-width: $mobile * 1.5) {
    width: 80%;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}
