.EventSearchCard {
  border-radius: 0;
  height: 200px;
}
.EventSearchCardImage {
  background-size: cover;
  height: 200px;
}
.NoPadding {
  padding: 0 !important;
  margin: 0;
}
.eventDate {
  padding: 0 !important;
  font-size: 12px;
}

.Search-Title {
  font-size: 18px;
  font-weight: bold;
  padding: 0;
}
.Search-Description {
  font-size: 14px;
}
