@import '../../../assets/styles/theme';
.search-result-container {
  position: relative;
}

.search-filter-container {
  width: 80%;
  margin: 0 auto;
}
.tabs-container {
  margin: 0 !important;
}
.tabs-cont {
  margin: 0 !important;
  position: sticky;
  top: 55px;
  width: 50%;
  background-color: dodgerblue;
}
