@import '../../../assets/styles/theme';
.search-result-container {
  position: relative;
}

.search-filter-container {
  width: 80%;
  margin: 0 auto;
}
.tabs-cont {
  position: sticky;
  top: 55px;
  background-color: #f6f6f9;
}
