.news-card-container {
  width: 100%;
}
.news-card-box {
  width: inherit;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 700px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.news-card-image {
  flex: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: 750px) {
    height: 200px;
  }
}
.news-card-content {
  flex: 50%;
  padding-left: 15px;
  padding-right: 5px;
}

.news-card-content-title {
  font-family: 'ZCOOL XiaoWei', serif;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 0.3px;
  margin-top: 5px;
  margin-bottom: 5px;
  @media screen and (max-width: 700px) {
    font-size: 1.25em;
  }
}
.news-card-content-desc {
  font-family: 'Helvetica Neue', serif;
  font-weight: 200;
  color: rgba(26, 26, 26, 0.74);
  margin-top: 5px;
  padding-bottom: 3px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.68);
}
.news-card-content-stat {
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.38);
  display: flex;
  justify-content: space-between;
  color: #353535;
  span {
    &:nth-child(1) {
      color: #f02139;
    }
  }
}
.news-card-content-actions {
  width: inherit;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-evenly;
  span {
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    transition: 0.5s all;
    font-weight: 400;
    &:nth-child(1) {
      color: #f0465a;
    }
    &:nth-child(2) {
      color: #4558be;
    }

    &:nth-child(3) {
      color: dodgerblue;
      font-weight: 600;
    }
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
